<!DOCTYPE html>
<html lang="fr">

<head>
    <title><%= content_for(:title) || "E Com" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <!-- CSS global -->
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <!-- JS Rails / Turbo -->
    <%= javascript_include_tag "turbo", type: "module" %>
</head>

<body class="bg-aliceblue font-sans">
    <header class="flex items-center justify-center p-4">
        <%= render "layouts/navbar" %>
    </header>
    <main class="min-h-screen p-6">
        <%= render 'shared/flash' %>
        <%= yield %>
    </main>

    <%= render "layouts/footer" %>
</body>

</html>